body {
    font-family: 'Special Elite', cursive;
    background: #7aefda;
}

.header_div {
    background: orchid;
    color: red;
}

.header_div p{
    font-family: 'Cormorant SC', serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Edu TAS Beginner', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color:red;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:magenta ;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px green;
}